html {
  overflow-y: scroll;

  --game-spacing: 40px;
  --header-height: 4rem;

  --color-success: #1e8e40;
  --color-warning: #bc7e01;
  --color-error: #c70d00;
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);
}

body {
  font-family: sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-gray-700);
  color: var(--color-gray-300);
}

header .side {
  width: var(--header-height);
  display: grid;
  place-content: center;
}

h1 {
  flex: 1;
  font-size: 2rem;
  line-height: var(--header-height);
  text-align: center;
}

@media (max-width: 25rem) {
  h1 {
    font-size: 1.25rem;
  }
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--game-spacing);
  padding: var(--game-spacing) 32px;
  margin: 0 auto;
}

.guess-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guess {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.cell {
  --border-size: 2px;
  position: relative;
  width: clamp(44px, 4vw, 80px);
  aspect-ratio: 1 / 1;
  border: var(--border-size) solid var(--color-gray-700);
  border-radius: var(--radius);
}

.cell-inner {
  position: absolute;
  top: calc(-1 * var(--border-size));
  left: calc(-1 * var(--border-size));
  right: calc(-1 * var(--border-size));
  bottom: calc(-1 * var(--border-size));
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: white;
  transform: rotateX(180deg) scaleY(0);
  border-radius: var(--radius);
}

.guess:first-of-type .cell:first-of-type,
.guess:first-of-type .cell:first-of-type .cell-inner {
  --radius: 4px 0px 0px 0px;
}
.guess:first-of-type .cell:last-of-type,
.guess:first-of-type .cell:last-of-type .cell-inner {
  --radius: 0px 4px 0px 0px;
}
.guess:last-of-type .cell:last-of-type,
.guess:last-of-type .cell:last-of-type .cell-inner {
  --radius: 0px 0px 4px 0px;
}
.guess:last-of-type .cell:first-of-type,
.guess:last-of-type .cell:first-of-type .cell-inner {
  --radius: 0px 0px 0px 4px;
}

.cell-inner.correct {
  background: var(--color-success);
}
.cell-inner.incorrect {
  background: var(--color-gray-300);
}
.cell-inner.misplaced {
  background: var(--color-warning);
}

.cell-inner.correct,
.cell-inner.incorrect,
.cell-inner.misplaced {
  animation: flipVertical 550ms ease-in-out forwards;
}

.guess-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: clamp(200px, 80vw, 340px);
  font-size: 14px;
}

.guess-input-wrapper input {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: 2px solid var(--color-gray-300);
  border-radius: 4px;
  padding: 8px 16px;
  outline-offset: 4px;
}

.restart-btn {
  background: var(--color-gray-100);
  color: var(--color-gray-900);
  width: 100%;
  text-align: center;
  padding: 8px 28px;
  border-radius: 4px;
  margin-top: 24px;
  font-weight: ;
}

.banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  animation: slideUp 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
  border-radius: 4px 4px 0px 0px;
  will-change: transform;
}

.happy.banner {
  background: var(--color-success);
  color: white;
}
.sad.banner {
  background: var(--color-error);
  color: white;
}

/*
  Keyboard
*/

.keyboad {
  --size: clamp(40px, 9vw, 50px);
  display: flex;
  gap: 8px;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard-char {
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-900);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}

.keyboard-char.correct {
  background-color: var(--color-success);
}

.keyboard-char.incorrect {
  background-color: var(--color-gray-300);
  pointer-events: none;
}

.keyboard-char:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
  background-color: var(--color-gray-700);
}

.keyboard-char:nth-child(11) {
  margin-left: calc(var(--size) / 2);
}

.keyboard-char:nth-child(19) {
  margin-right: calc(var(--size) / 2);
}

@media (max-width: 680px) {
  .keyboard-char:nth-child(11),
  .keyboard-char:nth-child(19) {
    margin-left: unset;
    margin-right: unset;
  }
}

/*
  Modal styles

  HACK: I'm doing this in a quick and dirty way.
  Later in the course, we'll see my preferred way of building
  modals in React.
*/
[data-reach-dialog-content] {
  position: relative;
  border-radius: 8px;
  padding: 24px 32px;
}
.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
}
.modal-title {
  margin-bottom: 0.5em;
}

/*
  Keyframe animations
*/
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes flipVertical {
  0% {
    transform: rotateX(180deg) scaleY(0);
    color: transparent;
  }
  50% {
    color: transparent;
    transform: rotateX(90deg) scaleY(0);
  }
  50.01% {
    transform: rotateX(90deg) scaleY(1);
    color: white;
  }
  100% {
    transform: rotateX(0deg) scaleY(1);
    color: white;
  }
}
